.header
{
  background-color: rgba(85,139,	47, 0.84);
  margin-top: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 1rem ;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../../../../../public/Images/Home/Projects/Patterns.png);
}



@media (max-width: 1350px)
{
.header {
    margin-left: 6rem;
    margin-right: 3rem;

}
}
@media all and (max-width: 970px) {
  .paragraph {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .header {
    margin-left: 3rem;
    margin-right: 3rem;

}
}

@media all and (max-width: 600px) {
  .heading {
    font-size: 50px;
  }

  .paragraph {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .header {
    margin-left: 2rem;
    margin-right: 2rem;
}
}

@media all and (max-width: 550px) {
  .heading {
    font-size: 42px;
  }
  .paragraph {
    font-size: 16px;
    margin-top: 0.5rem;
  }
}

@media all and (max-width: 480px) {
  .paragraph {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media all and (max-width: 440px) {
  .heading {
    font-size: 32px;
    line-height: 50px;
    font-weight: bold;
    margin-top: 10px;
  }
  .paragraph {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 0px;
  }
  .header {
    margin-left: 1rem;
    margin-right: 1rem;
}
}
