@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navContainer {
  font-family: "Montserrat", sans-serif !important;
  /* border: 5px solid rgb(9, 255, 0); */
  height: 105px;
  background-color: white;
  color: #000000;
  /* top: 50px; */
  transition: 0.1s linear;
  box-shadow: none;
  padding-top: 10px;
}

.bgWhite {
  background-color: white
}

.phone_logo {
  display: none;
}

.insideContainer {
  display: flex;
  width: 100%;
}

/* When data scroll is not zero, the navbar is not visible. I want to make it visible when data scroll is not zero. */
html:not([data-scroll="0"]) .navContainer {
  /* border: 1px solid red; */
  position: fixed;
  background-color: white;
  box-shadow: none;
  border-bottom: 2px solid #eaeaea;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.1s linear;
}

/* Logo Container */
.logoContainer {
  display: flex;
  flex-direction: row;
  width: 20%;
  padding: 0.5rem;
  height: 100%;
}


/* Nav Item Container */
.navItemContainer {
  display: flex;
  color: #332d2d;
  margin-left: -6rem;
  padding-top: 8px;
}

/* Menu Button */
.menuButton {
  display: none;
}

.menuButtonIcon {
  font-size: 45px;
}

/* Nav Links */
.navItem {
  color: #332d2d;
  font-size: 20;
  text-transform: none;
  display: block;

  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s linear;
}

.navItem:hover {
  color: #558B2F;
  transition: 0.2s linear;
}

@media all and (max-width: 1200px) {
  .navItemContainer {
    margin-left: -50px;
  }
}

@media all and (max-width: 1099px) {
  .navItemContainer {
    /* border: 2px solid red; */
    margin-left: -70px;
  }
}

@media all and (max-width: 1068px) {
  .navItemContainer {
    /* border: 2px solid rgb(94, 255, 0); */
    margin-left: -78px;
  }
  .logoContainer {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 0.5rem;
    height: 100%;
  }
}

@media all and (max-width: 1050px) {
  .insideContainer {
    justify-content: space-between;
    /* border: 3px solid brown; */
  }
  .navItemContainer {
    display: none;
  }
  .menuButton {
    display: block;
    /* border: 5px solid red; */
  }
  .logoContainer {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 0.5rem;
    height: 100%;
  }
}

@media all and (max-width: 899px) {
  .navContainer {
    padding-top: 10px;
    border-bottom: 1px solid #2f5353;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .logoContainer {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 0.5rem;
    height: 100%;
  }

}
@media all and (max-width: 768px) {
  .logoContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 0.5rem;
    height: 100%;
  }
}



